{% extends 'layouts/main.html' %}
{% block title %}Fyyur | Artists{% endblock %}
{% block content %}
<ul class="items">
	<table>
		{% for artist in artists %}
		<tr>
			<td> 
				<li>
					<a href="/artists/{{ artist.id }}">
						<i class="fas fa-users"></i>
						<div class="item">
							<h5> Id: {{ artist.id}} <br>Name: {{ artist.name }} <br></h5>
						</div>
					</a>
				</li>
			</td>
			<td>
				<form action="/artists/{{ artist.id }}/edit" method=get >
					<input type=hidden value="{{ artist.id }}" name="artist_id" />
					<input type=submit value="Edit"/>
				</form>
			</td>
			<td> &nbsp;&nbsp; </td>
			<td>
				<form action="/artists/{{ artist.id }}/delete" method=post >
					<input type=hidden value="{{ artist.id }}" name="artist_id" />
					<input type=submit color=red value="Delete"/>
				</form>
			</td>
		</tr>
		{% endfor %}
	</table>

</ul>
{% endblock %}