{% extends 'layouts/main.html' %}
{% block title %}Fyyur | Venues{% endblock %}
{% block content %}
{% for area in areas %}

<h3>{{ area.state }}</h3>
<ul class="items">
	<table>
		{% for venue in area.venues %}
		<tr>
			<td width=400px>
				<li>
					<a href="/venues/{{ venue.id }}">
						<i class="fas fa-music"></i>
						<div class="item">
							<h5><br>Venue ID: {{ venue.id }} <br>City: {{ venue.city }} <br>Venue: {{ venue.name }} </h5>
						</div>
					</a>
				</li>
			</td>
			<td>
				<form action="/venues/{{ venue.id }}/edit" method=get >
					<input type=hidden value="{{ venue.id }}" name="venue_id" />
					<input type=submit class="btn btn-success" value="Edit"/>
				</form>
			</td>
			<td>
				&nbsp;&nbsp;
			</td>
			<td>
				<form action="/venues/{{ venue.id }}/delete" method=post >
					<input type=hidden value="{{ venue.id }}" name="venue_id" />
					<input type=submit class="btn btn-danger" value="Delete"/>
				</form>
			</td>
		</tr>
		{% endfor %}
	</table>
</ul>
{% endfor %}
{% endblock %}
